@charset "UTF-8"; /* Cria regra (opcional) para não ter problemas com acentuação */

/*
    id é representado por # (pode ser usado apenas uma vez na mesma página)
    class é representado . (pode ser usado várias vezes na mesma página)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal { /* Uso do seletro id (não é necessario indicar tag)*/
    text-align: center;
    /* background-color: rgb(4, 109, 0); */
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}

h2.basico { /* Uso do seletor class (não é necessario indica tag) */
    color: yellow;
}

.intermediario { /* Uso do seletor class */
    color: green;
}

.avancado { /* Uso do seletor class */
    color: red;
}

.destaque { /* seletor class */
    background-color: violet;
}